html {
  font-size: 100%; }

* {
  margin: 0px;
  padding: 0px; }

* {
  margin: 0px;
  padding: 0px; }

.grid, .gridpages {
  display: grid;
  grid-template-rows: auto auto auto; 

  grid-template-areas: "menu menu menu"
 "lateral principal secundario"
 "pie pie pie";
  grid-template-columns: 8% auto 6%;
  column-gap: 0.2rem;
  row-gap: 0.3rem; }



main {
  grid-area: principal; }

section {
  background-image: linear-gradient(to left, #bbceda, #cbeedb);
  grid-area: secundario; }

aside {
  background-image: linear-gradient(to left, #bbceda, #cbeedb);
  grid-area: lateral;
  animation-name: fadein;
  animation-duration: 3s; }
  aside:hover {
    background-image: linear-gradient(to left, #bbceda, #9ec9f3); }



.formulario {
  margin-top: 5%;
  width: 160%; }

.separate {
  margin-top: 3%; }

.separate2 {
  margin-top: 20%; }

.separate3 {
  margin-top: 30%; }

header {
  grid-area: menu;
  background-color: solid rgb(72, 101, 44);
 }



.navbar-brand {
  color: #004600;
  text-align: center;
  font-family: "Chakra Petch", sans-serif;
  font-size: 3rem;
  border-top: solid white;
  margin-left: 1rem;
  width: 100%; }



footer {
  padding: 3%;
  grid-area: pie;
  background-image: linear-gradient(#bbceda, #cbeedb); }

.footerflex {
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-top: 2rem; }


.target {
  filter: #a12c3e;
  animation-duration: 1s;
  animation-name: fadein;
  animation-iteration-count: infinite; }


main {
  padding: 5%; }
  main h1 p {
    text-align: center;
    margin-bottom: -3%;
    color: #004600; }



.card {display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;}

  .card-body{display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;}



.contactobox {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  color: #3081df; }

.formulario {
  width: 100%;
  margin-top: 1%;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  font-family: "Chakra Petch", sans-serif;
  font-size: 1rem; }

.fieldset {
  border: 0rem; }

.formelement {
  margin-top: 1rem;
  padding: 0.8rem;
  right: 0%;
  font-size: 1rem; }

.input {
  border-radius: 0.5rem;
  padding-right: 0cm;
  height: 80%;
  width: 100%; }

.formdesplegar {
  text-align: right; }

.enviar {
  width: 100%;
  text-align: center;
  background-color: white;
  border: 0rem;
  color: #3a4d5c;
  font-family: "Chakra Petch", sans-serif; }


.opciones {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-items: center;
}



.hgabout {
  margin-bottom: 3%; }


.justfirs {
  animation-duration: 6s;
  animation-name: slidein; }



